<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Successful | My Grocery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/order_success.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}?v=999">
</head>
<body>
    
    <div class="success-container">
        <div class="icon-box">✅</div>
        
        <h1>Order Successful!</h1>
        <p>Thank you for your purchase. We've received your order and are getting it ready for delivery. Freshness is on its way!</p>
        
        <a href="/customer-dashboard" class="btn-continue">Continue Shopping</a>
    </div>

</body>
</html>